@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To navigate this website please use:</p>
    <!--Directions for navigating website. Includes inline css to place bullets centered with text-->
    <ul style=" list-style-position: inside">
        <li>The Donation Log Tab above to view summaries of logged donations. Here you can also add, change, and delete any logged donations</li>
        <li>The Donation Metrics Tab above to view metics on logged donations</li>
    </ul>
</div>
